
.container {
    display: grid;
    grid-template-areas:
        "header header header"
        "article nav ads"
        "footer footer footer";
    grid-template-columns: 40% 20% 20%;
    grid-template-rows: auto 2fr auto;
    gap: 5px;
    height: 60vh;
    box-sizing: border-box;
    background-color: white;
}

.header {
    grid-area: header;
    background-color: gold;
    padding: 15px;
}


.article {
    grid-area: article;
    background-color: gold;
    padding: 3px;
}

.nav {
    grid-area: nav;
    background-color: gold;
    padding: 1px;
}

.ads {
    grid-area: ads;
    background-color: gold;
    padding: 1px;
}

.footer {
    grid-area: footer;
    background-color: gold;
    padding: 15px;

}
